<!DOCTYPE html>
<html>
<head>
<title>X Read</title>
<script src='/libs/jquery/jquery.min.js'></script>
<link rel="stylesheet" href='/libs/bootstrap/css/bootstrap.min.css' >
<script src='/libs/bootstrap/bootstrap.min.js'></script>
<link rel='stylesheet' href='/stylesheets/header.css' />
<script src='/javascripts/header.js'></script>
</head>

<body id="top" >
<nav   class="navbar navbar-default navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<a class="navbar-brand" href="/index">X-Read</a>
		</div>
		
		<form class="navbar-form navbar-left" action="/search" method="get">
			<div class="form-group">
				<input type="text" class="search_input form-contrl" name="search_content" placeholder="书名、作者、ISBN">
			</div>
			<button type="submit" class="search_btn btn btn-default navbar-btn"><span class="glyphicon glyphicon-search"></span></button>
		</form>	
        <%if(admin=='admin'){%>
			<div class="navbar-header">
				<a class="navbar-brand" href="/index">Home</a>
			</div>
			<div class="navbar-header">
				<a class="navbar-brand" href="/admin/entry">Add</a>
			</div>
			<div class="navbar-header">
				<a class="navbar-brand" href="/admin/bookList">Books</a>
			</div>
			<div class="navbar-header">
				<a class="navbar-brand" href="/admin/userList">Users</a>
			</div>
		<%}%>

	
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id="header_a" _id="<%= _id%>" name="<%= name %>"  href="/user/<%= name %>">
					<img class="header_pic" src="<%= src %>">
				</a>
			</li>
			<li><a href="/user/<%= name %>"><span class="glyphicon glyphicon-user"></span> &nbsp<%= name %></a></li>
			<li>
			    <form method="get" action="/logout">
				   <button class="logout btn" id="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsplog out</button> 
			    </form>       
			</li>
		</ul>
	</div>
</nav>

<div class="msg_wrap">
	<div class="container">
		<div class="col-md-12" id="msg"></div>
	</div>
</div>





