
<% include header.ejs%>

<link rel='stylesheet' href='/stylesheets/index.css' />
<script src='/javascripts/index.js'></script>



<div class="container">
	<div class="row">
			<% books.forEach(function(book){%>
			  <li class="book">
				  <div class="clearfix">
				  	  <a href="/detail/<%= book.id%>"><img class="bk_pic" src="<%= book.medium_image %>"></a>
				      <div class="bk_p">
					      <a href="/detail/<%= book.id%>"><p class="bk_title"><%= book.title %></p></a>
					      <p class="bk_rating">评分：<%= book.rating.average %></p>
                          
					      <p class="bk_author">作者：<%= book.author.join('/')%></p>

					      <p class="bk_tags"><%=book.tags.join('/').substring(0,20) %></p>
				      </div>
				  </div>
			      <div class="bk_summary"><%= book.summary.substring(0,52) %> <a href="/detail/<%= book.id%>">(查看全部)</a></div>
			  </li>             
			<% }); %>
		</ul>
	</div>
</div>

<% include footer.ejs%>



