
<% include header.ejs%>
<link rel='stylesheet' href='/stylesheets/user.css' />
<script src='/javascripts/user.js'></script>

<iframe id='ifm' name='ifm'  src="about:blank" style="display:none"/>
</iframe>

<div class="container">
   
    <div class="row">

		<form id='formUI' action="/user/updateImage" enctype="multipart/form-data" method="post" target="ifm" >
			<input style='display: none' name="name1" type="text" value="<%= user.name%>">
			<input style='display: none' name="_id1"  type="text" value="<%= user._id%>">
			<input style='display: none' id="timeNow"  name="timeNow"  type="text" value="">
			<input style='display: none' id="updateImage" name="updateImage" type="file" value="">
		</form>



		<form id="form" class="form-horizontal" action="/user/updateUser" method="post">

            <a id="head_a_p">Upload new picture</a>

            <img id="head_pic" src="<%= user.image%>">

		    <div class="form-group" style='display: none'>
				<label class="col-md-2 control-lable" for="_id">_id</label>
				<div class="col-md-10">  
					<input id="_id" name="_id" class="form-control" type="text" value="<%= user._id%>">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-lable" for="name">name</label>
				<div class="col-md-7">				   
				    <input id="name" name="name" class="form-control" type="text" value="<%= user.name%>">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-lable" for="admin">admin</label>
				<div class="col-md-2">
				    <p><%= user.admin%></p>	

				    <input style="display: none" id="admin" name="admin" class="form-control" type="text" value="<%= user.admin%>">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-lable" for="email">email</label>
				<div class="col-md-7">		    
				    <input id="email" name="email" class="form-control" type="text" value="<%= user.email%>">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-lable" for="sex">sex</label>
				<div class="col-md-2">   
				    <p id="sex" ><%= user.sex%></p>
				</div>
				<div class="col-md-4"> 
    		  		<label class="checkbox-inline">
    		  		    <input type="radio" id="male" value="male" name="sex"><span class="sex_t">male</span>
    		  		</label>				 

    		  		<label class="checkbox-inline">
    		  		    <input type="radio" id="female" value="female" name="sex"><span class="sex_t">female</span>
    		  		</label>				
				</div>
			</div>
	
			
			
			<div class="form-group">
				<label class="col-md-2 control-lable" for="autograph">autograph</label>
				<div class="col-md-10"> 
				    <input id="autograph" name="autograph" class="form-control" type="text" value="<%= user.autograph%>">
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
				    <button id="save" name="save" class="form-control btn btn-primary" type="submit">保存</button>
				</div>
			</div>
		</form>
	</div>
</div>
<% include footer.ejs%>



