<% include header.ejs%>

<link rel='stylesheet' href='/stylesheets/userList.css' />
<script src='/javascripts/userList.js'></script>

<div class="container">
	<div class="row">
		<div class="col-md-12 table-resposive">
			<table class="table table-bordered">
				<caption><h1>USER LIST</h1></caption>
				<thead>
					<tr>
						<td class="h4">index</td>
						<td class="h4">image</td>
         		        <td class="h4">name</td>
						<td class="h4">admin</td>         		        
						<td class="h4">sex</td>
						<td class="h4">email</td>
						<td class="h4">creat update</td>
						<td class="h4">operate</td>
					</tr>
				</thead>
				<tbody>
					<% users.forEach(function(user,index){%>
                      <tr >
                      	<td class="h4"><%=index+1 %></td>
                      	<td>        
	                      <img class="img_size" src="<%=user.image %>" alt="">
                      	</td>
                      	<td><%=user.name %></td>
                      	<td><%=user.admin %></td>
                      	<td><%=user.sex %></td>
                      	<td><%=user.email %></td>
                      	<td>
                      	    <%=user.createdAt.toLocaleString() %>
                      	    <br>
                      	    <%=user.updatedAt.toLocaleString() %>	
                      	</td>
                      	<td>
	                      	<button User="<%=user.name %>"  type="button" class="delete operate btn btn-danger"><span class="glyphicon glyphicon-trash"></span>
	                      	delete
	                      	</button>
                      	</td>
                      </tr>
					<%})%>
				</tbody>
			</table>
		</div>
	
	</div>
</div>

<% include footer.ejs%>